body {
    margin: 15px, 15px, 15px, 15px;
    background-color: #000000;
    font-family: monaco,Consolas,"Lucida Console",monospace;
    color: #222222;
}

h1 {
    text-align: center;
    font-size: 300%;
    color: #DDDDDD;
}

ul {
    list-style-type: none;
    text-align: center;
}

input.tempo {
    width: 40px;
}

.controls {
    margin-top: 50px;
    text-align: center;
}

.sequence {
    font-size: 150%
}

.add-track {
    text-align: center;
}

input.add-track-name {
    width: 40px;
}
input.add-track-char {
    width: 40px;
}


.beat {
    font-size: 250%
}

.playing {
    color: red;
}

.footer {
    margin-top: 100px;
    margin-right: 50px;
    font-size: 75%;
    text-align: right;
    color: #DDDDDD;
}
