<html ng-app="sequenceApp">
<head>
    <title>every 909</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/bignumber.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>
    <h1>every 909</h1>
    <div class="sequencer" ng-controller="SequencerControl">
        <ul class="track-list">
            <li ng-repeat="sequence in sequences">
                <span class="sequence" ng-repeat="beat in sequence.pattern track by $index">
                    <span class="beat" ng-class="{playing: checkIndex($index)}">{{beat}}</span>
                </span>
            </li>
        </ul>
        <div class="footer">
        <p>started on January 21, 2017, 12:12 PM, Eastern Time</p>
        <p>(tap to play, if you are on iOS)</p>
        </div>
</body>
</html>
