<html ng-app="sequenceApp">
<head>
    <title>every 909</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/bignumber.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>
    <h1>every 909</h1>
    <div class="sequencer" ng-controller="SequencerControl">
        <div class="controls">
                <span class="start-button" ng-click="start()">start</span> |
        </div>
        <ul class="track-list">
            <li ng-repeat="sequence in sequences">
                <span class="sequence" ng-repeat="beat in sequence.pattern track by $index">
                    <span class="beat" ng-class="{playing: checkIndex($index)}" ng-click="toggleBeat(sequence, $index)">{{beat}}</span>
                </span>
            </li>
        </ul>
</body>
</html>
